<mat-card class="root">
  <mat-card-header class="header">
    <mat-card-title>
      <h1>Meta Tic-Tac-Toe</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>
        @if (!gameService.isOver) {
          Tour de {{ gameService.player }}
        } @else {
          Victoire de {{ gameService.player }}
        }
      </h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="game-container">
    <mat-grid-list
      class="metaboard-container"
      cols="3"
      rowHeight="1:1"
      gutterSize="0"
    >
      @for (board of gameService.metaBoard; track board.id) {
        <mat-grid-tile>
          <app-board class="board" [board]="board"></app-board>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </mat-card-content>
</mat-card>
