.game-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  text-align: center;
}

.active {
  cursor: pointer;
  background: lightblue;
}

.inactive {
  pointer-events: none;
}

.inactive-color {
  background: lightgrey;
}

.lastPlayed {
  background: lightgreen;
}

.winningCell {
  background: rgb(255, 125, 125);
}
